#root {
    height: 100%;
    width: 100vw;
    font-family: 'Cambria, Cochin, Georgia, Times, Times New Roman', serif;
    background-color: #F2A594;
    min-height: 100vh;
}

#basediv_landing {
    display: flex;
    width: 100%;
    height: 1073px;
}

#landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.landing_title_holder {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.landing_shield {
    background-color: white;
    width: 100%;
    height: 120px;
    opacity: 25%;
    position: absolute;
}

.landing_title {
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px lightgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 100%;
    font-size: 100px;
}

#landing_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.landing_button {
    margin: 70px;
    box-shadow: 1px 0px lightgray;
    text-shadow: 0px 1px lightgray;
}

.landing_button:hover {
    color: gray;
    background-color: rgba(255, 255, 255, 0.662);
}

#housing_page {
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base_card {
    display: flex;
    flex-direction: column;
    background-color: #f2d2b6;
    height: 750px;
    min-width: 600px;
    border: 4px solid whitesmoke;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 15vh;
}

.carousel_base_card{
    height: 400px;
    overflow: hidden;
}

#base_card_details_div {
    display: flex;
    flex-direction: row;
    background-color: #d9bda4;
    border-radius: 20px; 
    height: 300px;
    padding: 4px;
}

div.card-body {
    display: flex;
    flex-direction: column;
    overflow: wrap; 
}



div.card-title {
    display: flex;
    min-height: 40px;
    max-height: 70px;
    min-width: 365px;
    justify-content: center;
    align-items: center;
    clear: both;

}

#button_div {
    min-width: 550px;
    border-radius: 10px;
    padding: 5px;
    height: 300px;
}

.buttons {
    margin: 3px;
    border: 2px #011164;
    padding: 7px;
    border-radius: 5px;
    background-color: rgba(whitesmoke);
    color: #011164;
    border-style: solid;
}

#signup_div, #login_div, #account_div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#form_div, #account_deets_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2d2b6;
    height: 600px;
    width: 500px;
    padding: 70px;
    border-radius: 40px;
    overflow: hidden;
}

#signup_form, #login_form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px;
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: whitesmoke;
}

#signup_title, #login_title, #profile_div, #account_title{
    color: #bf7a7a;
}

#signup_title_div {
    background-color: white;
    opacity: 30%;
    width: 500px;
    height: 50px;
    position: fixed;
    left: 440px;
    top: 364px;
}

.signup_input, .login_input {
    margin-bottom: 10px;
    background-color: whitesmoke;
}

#signup_button, #login_button{
    font-size: 20px;
    min-width: 300px;
    background-color: #bf7a7a;
    color: whitesmoke;

}

#signup_button:hover, #login_button:hover {
    color: whitesmoke;
    background-color: #F2A594;  
}

#login_title_div {
    background-color: white;
    opacity: 30%;
    width: 500px;
    height: 50px;
    position: fixed;
    left: 440px;
    top: 387px;
}

#profile_div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#menu_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2d2b6;
    height: 600px;
    width: 500px;
    padding: 70px;
    border-radius: 40px;
    overflow: hidden;
    position: fixed;
}

#profile_main_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;
    width: 400px;
}

#profile_hidden {
    margin-top: 950px;
}

.profile_buttons {
    background-color: #bf7a7a;
    border: none;
    padding: none;
    color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    font-size:large;
}

#profile_link_div {
    margin-left: 610px;
}

#profile_link {
    text-decoration: none;
    color: #bf7a7a;
    font-size: x-large;
}

/* Housing Details Page  ///////////////////////////////////////////////////////////////////////////// */


#details_page_div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#details_div {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f2d2b6;
    border-radius: 20px;
    padding: 50px;
}


#picture_div {

    width: 100%;
    background-color: #d9bda4;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
}

#details_pictures_row {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

#picture_column {
    padding: 0%;
    width: 600px;
    height: 400px;
}

#details_pictures {
    width: 100%;
    height: 100%;
}

#remarks_div {
    background-color: #d9bda4;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
}

#minor_deets_div {
    background-color: #d9bda4;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
}

.thoughts_div {
    background-color: #d9bda4;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 5px;
}

#thought_textarea {
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 15px;
}

#liked_card_page {
    display: flex;
    margin: 0px;
    height: 100%;
}

#liked_card {
    display: flex;
    margin-top: 50px;
    
}

.liked_cards_base{
    background-color: #f2d2b6;
    margin: 1vw;  
    min-width: 400px;
    max-width: 400px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
}

.liked_card_pic {
    height: 250px
}

.liked_card_title {
    display: flex;
    text-align: center;
}

#preferences_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#pref_inner_div {
    margin-top: 200px;
    width: 90vw;
    border-radius: 20px;
    overflow: hidden;
    
}

#pref_form {
    background-color: #f2d2b6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    height: 500px;
}

.mb-3 {
    width: 200px;
    margin: 10px;
}