@font-face {
    font-family: 'JosefinSlab';
    src: url('./fonts/static/JosefinSlab-SemiBold.ttf') format('woff2'),
         url('./fonts/static/JosefinSlab-Regular.ttf') format('woff');
}

#root {
    height: 100%;
    width: 100vw;
    font-family: 'Cambria';
    background-color: #F2A594;
    min-height: 100vh;
    color: #3F3B2B;
}
/* NavBar /////////////////////////////////////////////////////////////////////////////////*/

.nav_link {
    display: flex;
    text-decoration: none;
    justify-content: left;
}

#nav_brand {
    display: flex;
    flex-direction: row;
}

#logo_pic {
    margin-right: 5px;
}

#nav_keys {
    text-decoration: none;
}
/* Landing Page /////////////////////////////////////////////////////////////////////////////////*/

#basediv_landing {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: white;
}

#background_images {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 90%;
   
}

#image1 {  
    background-image: url('./assets/HousePictures/pexels-marie-lemaistre-1234422.jpg');
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: 0;
    border: 3px solid white;
    background-position: center;
    
}
  
#image2 {
    background-image: url('./assets/HousePictures/pexels-mitchell-luo-3694706.jpg');
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: 0;
    border: 3px solid white;
    background-position: center;
}
  
#image3 {
    background-image: url('./assets/HousePictures/pexels-stijn-dijkstra-16744869.jpg');
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: 0;
    border: 3px solid white;
    background-position: center;
}
  
#image4 {
    background-image: url('./assets/HousePictures/pexels-tobias-bjørkli-2360684.jpg');
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: 0;
    border: 3px solid white;
    background-position: center;
}
  
#image5 {
    background-image: url('./assets/HousePictures/pexels-mitchell-henderson-2058286.jpg');
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: 0;
    border: 3px solid white;
    background-position: center;
}
  
#image6 {
    background-image: url('./assets/HousePictures/pexels-tetyana-kovyrina-3678919.jpg');
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: 0;
    border: 3px solid white;
    background-position: center;
}

#landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.landing_title_holder {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.landing_shield {
    background-color: darkslategray;
    width: 100%;
    height: 120px;
    opacity: 40%;
    position: absolute;
    z-index: 1; /* Ensure it appears above the background_images */
}

.landing_title {
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px lightgray;
    font-family: 'Cambria';
    opacity: 100%;
    font-size: 100px;
    position: absolute;
    z-index: 1; /* Ensure it appears above the background_images */
}


#landing_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 4;
    opacity: 100%;
    color: white;
}

.landing_button {
    margin: 70px;
    
    box-shadow: 1px 0px lightgray;
    text-shadow: 0px 1px lightgray;
    position: relative;
}

.landing_button:hover {
    color: rgba(0, 0, 0, 0.684);
    background-color: white;
}

/* Housing Page ////////////////////////////////////////////////////////////////////////////////*/

#housing_page {
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base_card {
    display: flex;
    flex-direction: column;
    background-color: #f2d2b6;
    height: 750px;
    min-width: 600px;
    border: 4px solid whitesmoke;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 15vh;
}

.carousel_base_card{
    height: 400px;
    overflow: hidden;
}

#base_card_details_div {
    display: flex;
    flex-direction: row;
    background-color: #d9bda4;
    border-radius: 20px; 
    height: 300px;
    padding: 4px;
    overflow-y: auto;
}

div.card-body {
    display: flex;
    flex-direction: column;
    overflow: wrap; 
}

div.card-title {
    display: flex;
    min-height: 40px;
    max-height: 70px;
    min-width: 365px;
    justify-content: center;
    align-items: center;
    clear: both;
    color: #775d44;
}

#button_div {
    min-width: 550px;
    border-radius: 10px;
    padding: 5px;
    height: 100%;
}

.buttons {
    margin: 3px;
    border: 2px #775d44;
    padding: 7px;
    border-radius: 5px;
    background-color: whitesmoke;
    color: #775d44;
    border-style: solid;
}

/* Sign Up Page /////////////////////////////////////////////////////////////////////////////////*/

#signup_div, #login_div, #account_div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#form_div, #account_deets_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DBCBBE;
    height: 400px;
    width: 500px;
    padding: 70px;
    border-radius: 40px;
    overflow: hidden;
    margin-top: 30vh;
}

#signup_form, #login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    margin: 10px;
    border: none;
    padding: 7px;
    width: 300px;
    border-radius: 5px;
    background-color: whitesmoke;
}

#signup_title, #login_title, #profile_div, #account_title{
    color: #B79582;
}

.signup_input, .login_input {
    margin-bottom: 10px;
    background-color: whitesmoke;
}

#signup_button, #login_button {
    font-size: 20px;
    min-width: 300px;
    background-color: #B79582;
    color: whitesmoke;

}

#signup_button:hover, #login_button:hover, #preference_button:hover {
    color: #E6DFD4;
    background-color: #827C5B;  
}

/* Profile Page //////////////////////////////////////////////////////////////////////////////////*/

#profile_div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#menu_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2d2b6;
    height: 600px;
    width: 500px;
    padding: 70px;
    border-radius: 40px;
    overflow: hidden;
    position: fixed;
}

#profile_main_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;
    width: 400px;
}

#profile_hidden {
    margin-top: 950px;
}

.profile_buttons {
    background-color: #bf7a7a;
    border: none;
    padding: none;
    color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    font-size:large;
}

#profile_link_div {
    margin-left: 610px;
}

#profile_link {
    text-decoration: none;
    color: #bf7a7a;
    font-size: x-large;
}

/* Housing Details Page  ///////////////////////////////////////////////////////////////////////////// */


#details_page_div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #775d44;
}

#details_div {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f2d2b6;
    border-radius: 20px;
    padding: 50px;
    border: 4px solid white;
    justify-content: center;
    align-items: center;
    width: 70vw;
    min-width: 550px;
}

#picture_div {

    width: 100%;
    height: 400px;
    background-color: #d9bda4;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow-x: auto;
    justify-content: left;
}

#details_pictures_row {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-wrap: normal;
}

#picture_column {
    padding: 0%;
    width: 600px;
    height: 400px;
}

#details_pictures {
    width: 100%;
    height: 100%;
}

#remarks_div {
    background-color: #d9bda4;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
    
}

#major_deets_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#minor_deets_div {
    background-color: #d9bda4;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
}

#interests_div {
    background-color: #d9bda4;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;   
}

#interests_button_div {
    min-width: 550px;
    border-radius: 10px;
    padding: 5px;
    height: 100%;
    display: flex;
    
}

.interests_buttons {
    margin: 3px;
    border: 2px #775d44;
    padding: 7px;
    border-radius: 5px;
    background-color: rgba(whitesmoke);
    color: #775d44;
    border-style: solid;
    min-width: fit-content;
}

#school_div {
    background-color: #d9bda4;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    
}

#contact_div {
    background-color: #d9bda4;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
    height: fit-content;
    width: 100%
}

.thoughts_div {
    background-color: #d9bda4;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

#thought_textarea {
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 15px;  
}

#post_button {
    color: #775d44;
}

/* Like/Dislike Page ////////////////////////////////////////////////////////////////////////*/

#liked_card_page {
    display: flex;
    margin: 0px;
    height: 100%;
    justify-content: center;
}

#liked_card {
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.liked_cards_base{
    background-color: #f2d2b6;
    margin: 1vw;  
    min-width: 400px;
    max-width: 400px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid white
}

.liked_card_pic {
    height: 250px
}

.liked_card_title {
    display: flex;
    text-align: center;
}
.liked_card_text {
    display: flex;
    background-color: #d9bda4;
    border-radius: 10px;
    height: 100px;
    padding: 5px;
    color: #775d44;
}
.liked_buttons {
    background-color: #bf7a7a;
    margin: 2px;
    color: whitesmoke;
    border: none;
    width: 100%;
    border-radius: 10px;
}

.liked_buttons:hover {
    background-color: whitesmoke;
    color:  #bf7a7a;
}

/* Preferences Page /////////////////////////////////////////////////////////////////////// */

#preferences_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#pref_inner_div {
    margin-top: 200px;
    width: 90vw;
    border-radius: 20px;
    overflow: hidden;
    
}

#pref_form {
    background-color: #DBCBBE;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    height: 500px;
}

.mb-3 {
    width: 200px;
    margin: 10px;
}

#preference_button {
    background-color: #B79582;
    border: none;
    margin: 5px;
    color: whitesmoke;
}

/* Thoughts Page /////////////////////////////////////////////////////////////////////// */

#thoughts_page {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

#personal_thoughts {
    margin-top: 7vh;
}

/* Account Details Page /////////////////////////////////////////////////////////////////////// */

.account_buttons{
    font-size: 20px;
    min-width: 300px;
    background-color: #bf7a7a;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
}

.account_buttons:hover {
    background-color: #F2A594;
}

#account_page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid red;
}

#account_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 7vh;
    border: 3px solid black;
}

#account_deets_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2d2b6;
    height: 500px;
    width: 500px;
    padding: 70px;
    border-radius: 40px;
    overflow: hidden;
    margin-top: 20vh;
}

#account_input {
    margin: 10px;
    border: none;
    padding: 7px;
    width: 300px;
    border-radius: 5px;
    background-color: whitesmoke;
}